/* Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f0f4f8;
  padding: 20px;
  height: 100vh;
  background-image: url('../images/vt.png');
  background-size: cover;
  background-position:center;
  color: white;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  background: rgba(0, 0, 0, 0.5);
}

.login-form input {
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.login-form input:focus {
  border-color: #007bff;
  outline: none;
}

.login-button {
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #0056b3;
}

.switch-text {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}

.switch-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.switch-link:hover {
  color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px; 
  }



.social-login {
  margin-top: 20px;
}

.social-login button {
  margin-right: 10px;
  padding: 10px;
  background-color: #4285f4; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.social-login button:last-child {
  background-color: #3b5998; 
}
